@font-face{
    font-family: "Unbounded";
    src:url("../fontes/Unbounded-Bold.ttf")format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    font-family: "Poppins";
    src: url("../fontes/Poppins-Regular.ttf")format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;

}


*{
    margin: 0;
    padding: 0;

}
body{
    background-color: rgb(7, 7, 7);
     color: rgb(255, 255, 255) ;
}

header img{
        display: block;
        margin: 75px 0px 0px 60px;

}

h1 {
    text-align: center;
     font-size:  80px;
     font-family: "Unbounded" ,sans-serif;
     font-weight: 700;
     margin-top: 60px;
     }

     h1 span{
        color: #9747ff;
     }


p{
    text-align: center;
    font-size: 24px;
    font-family: "Poppins";
    font-weight: 400;
    margin-top: 24px;

}

a {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
    font-family: "Poppins";
    background-color: #9747ff;
    width: 340px;
    height: 66px;
    display: block;
    text-align: center;
    margin: 40px auto;
    line-height: 66px;
    border-radius: 40px;
}
a:hover{
    background-color: #8233e8;
}
section img{
    display: block;
    width: 792;
    height: 446;
    margin: 0 auto;

}


